#cambioClaveDep, #misDatos, #solicitarSSVacantes, #solicitarSSProgramas, #seguimientoAlumnos{
	display:none;
	margin-top: -15%;
}
#barraDependencia{
	background-color: gray;
	margin-top:-20%;	
	margin-left: -7%;
}
#divInputsClave{
	width:50%;
	margin-left: 25%;

}
#seguimientoSolicitudes{
	margin-top: -15%;
	display: none;
}
#divTablaAlumnos{
	width: 85%;
}
#divTablaAlumnos{
	margin-left: 5%;
	margin-bottom: 5%;
}
.label-select{
	font-size:  0.8em;
	color: #9e9e9e;
 	margin-left: .75em;
}
#rowFiltroAlumnos{
	margin-left: 15%
}