body
{
	border-radius: 5px;
	font-family: "Times New Roman";
	margin: 0 auto;
	max-width: 1024px;
}
body header img
{
	float: right;
	margin: -100px 30px;
	width: 100px;
}
body header h1
{
	margin: 10px 0px 0px 30px;
}
h1{
	text-align: center;
	font-size: 24px;
}
nav{
	width: 1190px;
	display:none;
	color:black;
}

section 
{
	text-align: center;
}
table tr th{
	text-align: center;
}
#divBarra{
	margin-left: -100px;
}
#sep{
	position:absolute;
	width: 315px;
	float:left;

}
#divDetalles{
	display: none;
}
#entradaUsuario{
	font-family: "Helvetica";
}
#mostrarClave{
	bottom: 60px; 
	left: 160px;
}
#divSolicitudes{
	display: none;
}
#tablaSolicitudes tr{
	text-align: right;
}
#titulo-entrar{
	color:white;
}
#user{
	display:none;
	font-family: "Helvetica";
	font-weight: bold;
	margin-bottom: -15px;
	text-align: right;
	width: 220px;
}
#user a{
	width: 100%;
}
#user i{
	vertical-align: bottom;
}
.entradaUsuario
{
	margin: 0 auto;
	margin-top: 80px;
	width: 350px;
}
.page-header{
	margin-top: 70px;
}
.titulotabla{
	font-size: 20px;
}

.fechaseguimiento
{
	display: none;
	margin-left: 60px;
	margin-top: 120px;
	width:900px;
}
#divDatos1{
	display:inline;
}
.lInputs{
	margin-right: 400px;
}
#btnEntrar{
	display: inline-block;
}