#listadoAlumnos, #listadoProgramas, #tarjetaControl,#datosAlm,#info_programa_horas, #controlexpediente1,#controlexpediente2, #registroEmpresas, #registroProgramas{
	display: none;
}
#barra{
	background-color: gray;
	margin-top:-5%;
	margin-left: -7%;
}
.display{
	margin-top: 10%;
}